@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --default-black: #1c1f1c;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
main {
  color: var(--default-black);
  /* background-color: #fff; */
  background: rgb(126, 231, 140);
  background: linear-gradient(
    120deg,
    rgba(126, 231, 140, 1) 0%,
    rgba(126, 218, 150, 1) 20%,
    rgba(126, 209, 158, 1) 50%,
    rgba(120, 210, 155, 1) 80%,
    rgba(107, 211, 149, 1) 100%
  );
}

*::-webkit-scrollbar-track {
  background-color: inherit;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border-right: 3px solid #f5f5f5;
  background-color: #1e1e1e54;
}

.CONTAINER {
  width: 800px;
  margin: auto;
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000059;
  justify-content: center;
}