@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
main {
  color: #1e1e1e;
  background-color: #fff;
}

*::-webkit-scrollbar-track {
  background-color: inherit;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-right: 3px solid #f5f5f5;
  background-color: #1e1e1e54;
}

.CONTAINER {
  width: 800px;
  margin: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.350);
  justify-content: center;
}

@media screen and (max-width: 1024px) {
}
